.env

wp-admin/
wp-includes/
wp-*.php
xmlrpc.php
index.php
license.txt
readme.html

wp-content/uploads/
wp-content/cache/
wp-content/upgrade/

wp-content/themes/pigmentalo/assets/dist/
wp-content/themes/ficus/

wp-content/themes/pigmentalo/node_modules/

.DS_Store
Thumbs.db
